[submodule "wabt-rs"]
	path = wabt-rs
	url = https://github.com/donald-pinckney/wabt-rs
	branch = conts
[submodule "c-stack"]
	path = c-stack
	url = https://github.com/donald-pinckney/c-stack
	branch = conts
[submodule "cranelift"]
	path = cranelift
	url = https://github.com/donald-pinckney/cranelift
	branch = conts
[submodule "reference-types"]
	path = reference-types
	url = https://github.com/WebAssembly/reference-types
	branch = master
[submodule "swasm"]
	path = swasm
	url = https://github.com/donald-pinckney/swasm
	branch = master
[submodule "wabt"]
	path = wabt
	url = https://github.com/WebAssembly/wabt
	branch = master
[submodule "wasmparser.rs"]
	path = wasmparser.rs
	url = https://github.com/donald-pinckney/wasmparser.rs
	branch = conts
[submodule "wasmtime"]
	path = wasmtime
	url = https://github.com/donald-pinckney/wasmtime
	branch = conts
[submodule "toy-wasm"]
	path = toy-wasm
	url = https://github.com/plasma-umass/toy-wasm
	branch = master
[submodule "go-benchmarking"]
	path = go-benchmarking
	url = https://github.com/donald-pinckney/go-benchmarking
	branch = master
